# Git
.git
.gitignore

# Docker
.docker

# Python
api/__pycache__/
api/*/__pycache__/
api/*/*/__pycache__/
api/*/*/*/__pycache__/
api/*/*/*/*/__pycache__/
.env/
.venv/
venv/

# Node
node_modules/
npm-debug.log
yarn-error.log
